:root {
  --black: rgba(0, 0, 0, 1);
  --onyx: rgba(51, 55, 59, 0.698);
  --onyx-2: rgba(51, 55, 59, 1);
  --ship-gray: rgba(64, 63, 71, 1);
  --abbey: rgba(79, 79, 79, 1);
  --indigo: rgba(88, 123, 224, 1);
  --dove-gray: rgba(111, 110, 114, 1);
  --true-v: rgba(136, 94, 255, 1);
  --cultured-pearl: rgba(245, 245, 245, 1);
  --white: rgba(255, 255, 255, 1);

  --font-size-xxs: 12px;
  --font-size-xs: 13px;
  --font-size-xxl: 18px;
  --font-size-s2: 15px;
  --font-size-m2: 16px;
  --font-size-xs2: 14px;

  --font-family-manrope: "Manrope";
  --font-family-manrope-medium: "Manrope-Medium";
}

.manrope-medium-indigo-12px {
  color: var(--indigo);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xxs);
  font-weight: 500;
  font-style: normal;
}
.manrope-semi-bold-onyx-15px {
  color: var(--onyx-2);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-s2);
  font-weight: 600;
  font-style: normal;
}
.manrope-semi-bold-ship-gray-16px {
  color: var(--ship-gray);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-m2);
  font-weight: 600;
  font-style: normal;
}
.manrope-semi-bold-onyx-14px {
  color: var(--onyx-2);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xs2);
  font-weight: 600;
  font-style: normal;
}
.manrope-medium-true-v-15px {
  color: var(--true-v);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-s2);
  font-weight: 500;
  font-style: normal;
}
.manrope-medium-white-15px {
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-s2);
  font-weight: 500;
  font-style: normal;
}
.manrope-semi-bold-white-13px {
  color: var(--white);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xs);
  font-weight: 600;
  font-style: normal;
}
.manrope-medium-onyx-15px {
  color: var(--onyx-2);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-s2);
  font-weight: 500;
  font-style: normal;
}
.manrope-semi-bold-dove-gray-14px {
  color: var(--dove-gray);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xs2);
  font-weight: 600;
  font-style: normal;
}
.manrope-semi-bold-onyx-15px {
  color: var(--onyx);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-s2);
  font-weight: 600;
  font-style: normal;
}
.manrope-medium-ship-gray-15px {
  color: var(--ship-gray);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-s2);
  font-weight: 500;
  font-style: normal;
}
.manrope-semi-bold-true-v-14px {
  color: var(--true-v);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xs2);
  font-weight: 600;
  font-style: normal;
}
.manrope-medium-dove-gray-12px {
  color: var(--dove-gray);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xxs);
  font-weight: 500;
  font-style: normal;
}
.manrope-medium-indigo-14px {
  color: var(--indigo);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xs2);
  font-weight: 500;
  font-style: normal;
}
.manrope-medium-dove-gray-13px {
  color: var(--dove-gray);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-style: normal;
}
.border-2px-onyx {
  border-width: 2px;
  border-style: solid;
  border-color: var(--onyx-2);
}
.manrope-medium-indigo-12px {
  color: var(--indigo);
  font-family: var(--font-family-manrope-medium);
  font-size: var(--font-size-xxs);
  font-weight: 500;
  font-style: normal;
}
.manrope-medium-abbey-15px {
  color: var(--abbey);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-s2);
  font-weight: 500;
  font-style: normal;
}
.manrope-medium-dove-gray-12px {
  color: var(--dove-gray);
  font-family: var(--font-family-manrope-medium);
  font-size: var(--font-size-xxs);
  font-weight: 500;
  font-style: normal;
}
.manrope-medium-dove-gray-14px {
  color: var(--dove-gray);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xs2);
  font-weight: 500;
  font-style: normal;
}
.manrope-medium-dove-gray-15px {
  color: var(--dove-gray);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-s2);
  font-weight: 500;
  font-style: normal;
}

.group-530 {
  height: 180px;
  width: 363px;
}

.digital-panada {
  color: var(--black);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-m2);
  font-weight: 600;
  letter-spacing: 0;
  min-height: 22px;
  min-width: 110px;
  margin-left: 15px;
  margin-top: 15px;
}

.phone {
  letter-spacing: 0;
  min-height: 20px;
  min-width: 67px;
  margin-left: 15px;
  margin-top: 10px;
}

@import url("https://fonts.googleapis.com/css?family=Manrope:500,600");

.group-538 {
  align-items: center;
  display: flex;
  height: 38px;
  margin-left: 15px;
  min-width: 174px;
  margin-top: 10px;
}

.group-253 {
  height: 30px;
  margin-top: 2px;
  width: 31px;
}

.group-537 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  min-height: 38px;
  width: 138px;
}

.owned-by {
  letter-spacing: -0.15px;
  margin-left: 1px;
  min-height: 19px;
  min-width: 62px;
  text-align: center;
}

.whitegoose497near {
  letter-spacing: -0.15px;
  min-height: 19px;
  min-width: 134px;
  text-align: center;
}

@import url("https://fonts.googleapis.com/css?family=Manrope:500,600");

.primary_button {
  align-items: center;
  background-color: var(--true-v);
  border-radius: 10px;
  display: flex;
  height: 40px;
  min-width: 319px;
  padding: 0 9.5px;
  margin-left: 15px;
  margin-top: 25px;
}

.iconoffer {
  height: 24px;
  width: 25px;
}

.label {
  color: var(--white);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-m2);
  font-weight: 600;
  letter-spacing: -0.41px;
  line-height: 22px;
  margin-bottom: 1px;
  margin-left: 10px;
  min-height: 22px;
  text-align: center;
  white-space: nowrap;
  width: 239px;
}

.icon-hide-chevron {
  height: 24px;
  margin-left: 10px;
  width: 16px;
}

@import url("https://fonts.googleapis.com/css?family=Manrope:500,600");

.group-455 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 161px;
  width: 366px;
}

.flex-row {
  align-items: flex-start;
  display: flex;
  height: 19px;
  margin-left: 24px;
  min-width: 236px;
}

.info {
  letter-spacing: -0.15px;
  min-height: 19px;
  min-width: 26px;
  text-align: center;
}

.trade-history {
  letter-spacing: -0.15px;
  margin-left: 124px;
  min-height: 19px;
  min-width: 86px;
  text-align: center;
}

.line-container {
  height: 3px;
  margin-right: 4px;
  margin-top: 12px;
  position: relative;
  width: 363px;
}

.line-25 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 363px;
}

.line-26 {
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
  width: 181px;
}

.group-532 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 2px;
  margin-top: 19px;
  min-height: 108px;
  width: 318px;
}

.flex-row-1 {
  align-items: center;
  display: flex;
  height: 22px;
  margin-left: 2px;
  min-width: 312px;
}

.overview {
  letter-spacing: -0.15px;
  min-height: 22px;
  min-width: 70px;
  text-align: center;
}

.frame {
  height: 16px;
  margin-bottom: 2px;
  margin-left: 226px;
  width: 17px;
}

.digital-ninjas-are-a {
  color: var(--ship-gray);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xs2);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: 20px;
  min-height: 66px;
  width: 306px;
}

@import url("https://fonts.googleapis.com/css?family=Manrope:500,600");
